
body{
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: aqua;
}

.fa-solid{
    color: #74C0FC;
    font-size: 80px;
    margin: 20px;
    box-sizing: border-box;
}


.top1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    height:700px;
    width:500px;
    border:2px solid black;
    background-image: linear-gradient(135deg, #6A82FB 10%, #FC5C7D 100%);
    /* background-image: url("https://cdn.dribbble.com/users/5958907/screenshots/15072200/media/e8407e6edbf45ceeedf1cf51ea5148d6.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    border-radius: 20px;
}

.nav{
    margin:0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    display: flex;
    width:auto;
    height:10%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

.item1{
    margin:10px;

}
.item3{
    margin:10px;
}

.search{
    border:1px solid transparent;
    border-color: #6A82FB;
    border-radius: 8px;
    padding:5px;
    width: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 400;
    background-color: black;
}


.main{
    box-sizing: border-box;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    height:45%;
}

#date{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.top{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    font-weight: bold;
}

.down{
    display: flex;
    justify-content:space-around;
    padding-left: 0;
    align-items: center;
    width:400px;
    height: 80px;
}

#date{
    text-align: center;
    width:auto;
    height: auto;
}

#temp{
    width:auto;
    height: auto;
    text-align: center;
}


footer{
    display: flex;
    justify-content: space-around;
    height:45%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color:white;
    
}

.foot1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footdata{
    display: flex;
    justify-content: space-around;
    width:180px;
    align-items: center;
}


.limage{
    position: absolute;
    top:10%;
    left:26%;
}
.fimage{
    position: absolute;
    top:10%;
    right:26%;
}

@media only screen and (min-width:943px) and (max-width:1325px){
    .fimage{
        right:15%
    }
    .limage{
        left:15%;
    }
}

@media only screen and (max-width:943px){
    .fimage{
        right:0%
    }
    .limage{
        left:0%;
    }
}

.img1{
    height:200px;

}


.humidity{
    font-size: 20px;
    color: rgb(255, 255, 105);
}

.windspeed{
    font-size: 20px;
    color: #73deff;
}

#temp{
    font-size: 25px;
}